*{
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
    box-sizing: border-box; 
    overflow: visible;
    font-family: font;
    height: auto;
    width: 100%;


}
@font-face{
    font-family: font;
    src: url(./googlefont/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}


.icon{
    height: 10vh;
    width: 5vw;
    object-fit: contain;
}

main{
    padding-top: 10%;
}




 
.navbar {
  display: flex;
  min-width: 100%;
  position: fixed;
  align-items: center;
  gap:20px;
  padding: 15px;
  padding-left: 10%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 3;
}

.nav-links {
    display: flex; 
    font-size: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
    height:5vh;  
    width: 40vw; 
    list-style: none;
    color: black;
    gap: 20px;
    padding-left: 20px;
    border-left: 2px solid rgba(124, 124, 124, 0.337);
    height: 10vh;

}




.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}




.nav-links li a:hover {
  color: #1e5d70;
}



.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000ea;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  gap: 30px;
  display: none;
}

.nav-overlay a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}  




.hamburger {
  display: none;
  min-height: 10vh;
  font-size: 28px;
  cursor: pointer;
}
 





.star{
  display: none;
  border: none;
  border-radius: 50%;
  background-color: rgb(3, 101, 176);
}
.hotel{
  display: none;
}


.content1{
    display: flex;
    align-items: center;
    background-color: #333333;;
    padding-left: 15%;
    width: 100%;
    height: 10vh;
} 


#arrow {
  font-size: 40px;
  color: #74C0FC;
  animation: floatArrow 6s infinite;
  cursor: pointer;
  padding-left: 25%;
}

#arrow:hover{
    color: white !important;
}

@keyframes floatArrow {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0;
  }
  51% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.content3{
    width: 96vw;
}

.content2{
   display: flex;
    position: fixed;
    bottom: 5%;
    right: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgba(31, 140, 223, 0.696);
    height: 8vh;
    width: 70px;
}

.content2:hover{
    background-color: rgba(31, 140, 223, 0.696);
    border: none;
}


.inbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 10vh;
    gap:1%;
}

.data-city{
    width: 4vw;
    height: 6vh;
    border:none;
    background-color: rgb(31, 140, 223, 0.696) ;
    border-radius: 10%;
    text-align: center;
    padding-top: 15px;
   color: white;
}

.city-item{
    width: 4vw;
    height: 6vh;
    text-align: center;
    padding-top: 15px;
    color: #aaa9a9;
}


#hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90vw;
}

.hotel-card {
    width: 25vw;
    height: 45vh;
    border: 1px solid gray;
    border: 1px solid rgba(136, 136, 136, 0.341);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
   

.hotel-card:hover{

     border: 1px solid rgba(136, 136, 136, 0.341);
}


.section{
    height: 90vh;
}

h2{
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
    color: #868585ad;
}

.button{
    background-color: rgba(52, 180, 165, 0.441);
    height: 6vh;
    margin-top: 10%;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}
.book{
    color: white;
}




@media screen and (min-width: 701px) and  (max-width: 1200px) {

main{
    padding-top: 18%;
    min-height: 140vh;
}

.all{
    width: 10vw;
}

.tbilisi{
    width: 10vw;
}

#hotels{
    width: 95%;
    min-height: 100vh;
   justify-content: center;
   align-content: center;

}
.hotel-card{
    min-height: 50vh;
    width: 45vw;
    border: none;


    
}
.data-city{
  width: 10vw;
}
.content2{
    width: 70px;

}

.button{
  width: 30vw;
  margin-left: 15%;
}

}


@media screen and (min-width: 501px) and  (max-width: 700px) {


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.navbar{
    display: flex;
    position: fixed;
    right:0px;
    gap:50%;
    max-height: 13vh;
    width: 100%;
    

  
}

.star{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  min-height: 55px;
  padding-left: 16px;
  
}
  .hotel{
    display: flex;
    align-items: center;
    font-size: 18px;
    min-width: 30vw;
    gap:5%;
  }

  .hamburger {
    display: block;
    position: relative;
    top: 20px;
    font-size: 35px;
 
    
  }
main{
    max-height: 90vh;
  margin-top: 12%;
}
  .nav-links {
    display: none;

  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
  }

  .nav-links li {
    padding: 10px 0;
    color: white;
  }

  .nav-overlay.active {
    display: flex;
    padding-left: 40%;
  }

  .icon{
    display: none;
  }


.data-city{
    width: 11vw;
}

.city-item{
    width: 11vw;
}


#hotels{
   padding-left: 5%;
    justify-content: flex-start;
    width: 90vw;
}


.hotel-card{
    gap:5%;
    width: 40vw;
    max-height: 29vh;
    border: none;
    box-shadow: none;

}



  .hotel-card .button {
    display: none !important;
  }
  .hotel-card:hover .button {
    display: block !important;
  }


.hotel-card:hover img {
  display: none;
}





h2{
    min-height: 5vh;
    margin: 0px;
}

.content2{
    width: 70px;
 
}





}













@media screen and  (max-width: 500px){
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
}



.navbar{
  position: fixed;
  right:0px;
  justify-content: space-around;
  max-height: 10vh;
  width: 100%;


}

  .hamburger {
    display: block;
    position: relative;
    top: 25px;
    height: auto;
    width: 5px;
 
    
  }



.nav-links {
    display: none;
   
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
  }

  .nav-links li {
    padding: 10px 0;
    color: white;
    
  }

  .nav-overlay.active {
    display: flex;
    padding-left: 25%;
  }



.star{
    display: flex; 
    align-items: center;
    padding-left: 10px;
    width: 70px;
    min-height: 50px;

}


.hotel{
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 50vw;
    gap:5%;
  }





 .icon{
    display: none;

  }



main{
    min-height: 213vh;
    margin-top: 17%;

}




 
  .inbox{
    padding-left: 5%;
  }
  .data-city{
    min-width: 20vw;
    
  }
  .city-item{
    width: 25vw;
  
  }
  #hotels{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border: none;
  }

  .hotel-card{
    width: 95%;
    max-height: 42vh;
    box-shadow: none;
   
  }
  h2{
    padding-top: 20px;
  }


  .hotel-card .button {
    display: none !important;
  }
  .hotel-card:hover .button {
    display: block !important;
  }


.hotel-card:hover img {
  display: none;
}





.content2{
  width: 70px;
  max-height: auto;
  padding: 0;
}

}